.foot {
  background-image: url(https://i.imgur.com/gruk0uK.png);
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  background-position: center;
}

 .container{
  flex-wrap: wrap;
}
 
