
<footer class="foot mt-5">
  <div class="container-fluid " style="z-index: 2;">
    <div class="row d-flex align-items-center marow">
      <div class="col-md-2 mt-4">
        <h2 id="text2" class="ml-4"> Entre em contato
        </h2>
      </div>

      <div class="col-md-6 d-flex align-items-center mt-5">
        <img class="mb-3 ml-3 mr-3" style="z-index: 1; position: relative; width: 3px;height: 120px;"
          src="https://i.imgur.com/zHvl9OW.png" alt="">

        <h3 id="text3" class="text-left">A equipe da FindYourHelp <div class="mt-2 mb-2">agradece a sua visita!</div>
          <div>Siga-nos nas redes sociais.</div>
        </h3>
      </div>

    </div>

    <div class="col-md-4"></div>


    <div class="row d-flex justify-content-end align-items-center">

      <div class="col-md-6 d-flex justify-content-start align-items-center">
        <h1 class="text-warning pequeno">Faça seu cadastro como colaborador ou como dono de uma ideia agora mesmo!</h1>
      </div>

      <div class="col-md-4 d-flex justify-content-start align-items-center">
        <button class="btn btn-warning mb-4" routerLink='/cadastrar'>Cadastre-se</button>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <p class="text-center text-white">Todos os direitos reservados a FindYourHelp &copy;</p>
      </div>
    </div>

  </div>
</footer>
