<!-- Barra de navegação-->
<div class="bg">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <img class="img-fluid ml-3" width="55" alt="Logo da Find Your Help"
        src="https://i.imgur.com/dtR8Hgp.png">
      <a class="navbar-brand mx-3 letra" style="font-size: 35pt; font-weight: 600; color: #FAA411;"
        routerLink='/homepage'>FyH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto mr-5">
          <li class="nav-item letra">
            <a class="nav-link active fs-14 mx-1" aria-current="page" routerLink='/homepage'>Home</a>
          </li>
          <li class="nav-item letra">
            <a class="nav-link active fs-14">Olá, {{nomeUsuario}}</a>
          </li>
          <li class="nav-item letra">
            <a href='sair()'>
              <p class="fs-14 mt-2 cor">
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /Barra de navegação-->


 <!--Pagina do feed-->
 <div class="container-fluid gedf-wrapper margin">

  <div class="row justify-content-between">
    <!--CardPerfil-->
    <div class="col-md-2 mt-5 ml-5">
      <div class="text-center" style="position: fixed;">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid rounded-circle img-size" src="{{imagemUsuario}}">
          </div>
          <div class="team-content">
            <h3 class="name m-0">{{nomeUsuario}}</h3>
            <h4 class="title">{{tipoUsuario}}</h4>

          </div>
          <ul class="social">
            <li><a [routerLink]="['/user-edit',idUsuario]"><i class="fa fa-pencil-square-o mr-2 mt-3"
                  aria-hidden="true"></i>
                Editar usuário</a>

            </li>
            <!-- <li><a href=""><i class="fas fa-mail-bulk mr-2"></i>
                Minhas postagens</a>
            </li> -->

          </ul>
          <button type="button" class="button-style" routerLink='/homepage' (click)='sair()'>Sair</button>
        </div>
      </div>
    </div>
    <!--/CardPerfil-->

    <!--DivCentral-->
    <!-- <div fxFlex="60" class="py-5"> -->
    <div class="col-md-6 mt-5 gedf-main">

      <div id="carouselExampleControls" class="carousel slide" style="width: 100%;" data-ride="carousel">
        <div class="carousel-inner">
          <div class="row w-100">
            <div class="carousel-item active">
             <div class="d-flex">
            <div class="col-md-4">
              <div class="card bg-dark border-radius: 10px; text-white">
                <img class="card-img-top w-100" style=" opacity: 65%;height: 250px; background: rgba(50, 50, 50, 0.8);"
                  src="https://imgur.com/yDN6z53.png" alt="Card image cap">
                <div class="card-img-overlay d-flex align-items-start flex-column">
                  <img class="rounded-circle mb-auto" width="50" height="50" style="border: 3px solid #008cff;"
                    src="https://i.imgur.com/dtR8Hgp.png" alt="">
                  <a class="text-white" href="https://www.caixa.gov.br/empreendedor/formalizacao/Paginas/default.aspx#:~:text=O%20empreendedor%20deve%20realizar%20o,de%20contato%20e%20endere%C3%A7o%20residencial."><h4 class="card-title">O que é MEI e como tirar</h4></a>
                </div>
              </div>
              </div>
              <div class="col-md-4" >
                <div class="card bg-dark border-radius: 10px; text-white">
                  <img class="card-img-top w-100" style=" opacity: 65%;height: 250px; background: rgba(50, 50, 50, 0.8);"
                    src="https://imgur.com/yDN6z53.png" alt="Card image cap">
                  <div class="card-img-overlay d-flex align-items-start flex-column">
                    <img class="rounded-circle mb-auto" width="50" height="50" style="border: 3px solid #008cff;"
                      src="https://i.imgur.com/dtR8Hgp.png" alt="">
                   <a class="text-white" href="https://www.sebrae.com.br/sites/PortalSebrae/Busca?q=consultoria%20gratuita"><h4 class="card-title">Sites com consultoria gratis</h4></a>
                  </div>
                </div>
                </div>
                <div class="col-md-4">
                  <div class="card bg-dark border-radius: 10px; text-white">
                    <img class="card-img-top w-100" style=" opacity: 65%;height: 250px; background: rgba(50, 50, 50, 0.8);"
                      src="https://imgur.com/yDN6z53.png" alt="Card image cap">
                    <div class="card-img-overlay d-flex align-items-start flex-column">
                      <img class="rounded-circle mb-auto" width="50" height="50" style="border: 3px solid #008cff;"
                        src="https://i.imgur.com/dtR8Hgp.png" alt="">
                      <a class="text-white" href="https://andrebona.com.br/10-dicas-para-abrir-uma-empresa-com-pouco-dinheiro/"><h4 class="card-title">10 dicas para abrir uma empresa</h4></a>
                    </div>
                  </div>
                  </div>
            </div>

            </div>
            
            <div class="carousel-item">
            <div class="col-md-4 clearfix d-none d-md-block" href="#">
              <div class="card bg-dark border-radius: 10px; text-white ">
                <img class="card-img-top" style="opacity: 65%; height: 250px; background: rgba(50, 50, 50, 0.8);"
                  src="https://imgur.com/yDN6z53.png" alt="Card image cap">
                <div class="card-img-overlay d-flex align-items-start flex-column">
                  <img class="rounded-circle mb-auto" width="50" height="50" style="border: 3px solid #008cff;"
                    src="https://i.imgur.com/dtR8Hgp.png" alt="">
                 <a class="text-white" href="https://sambatech.com/blog/insights/plano-de-negocios/"><h4 class="card-title">Como construir um bom plano de negocios</h4></a>
                </div>
              </div>
            </div>
            </div>



          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!--CardBotao-->
     
      <mat-card class="mat-elevation-z4 mt-4" *ngIf='authService.Colaborador()'>
        <mat-card-header class="row mt-2">

          <div class="col-md-1">
            <img class="rounded-circle" width="45" height="45" src="{{imagemUsuario}}" alt="img User">
          </div>

          <div class="col-md-11">
            <mat-card-subtitle><button
                mat-button class="mat-elevation-z3 botaodahora ml-2" data-toggle="modal" data-target="#novaPostagem">
                Qual ideia está em sua mente, <span>{{nomeUsuario}}?</span>
                <mat-icon class="ml-3 mb-2" matSuffix aria-hidden="false" aria-label="Example home icon">
                  create</mat-icon>
              </button></mat-card-subtitle>
          </div>

        </mat-card-header>
        <hr>
        <mat-card-content class="text-center" style="color: gray;">
          Poste uma ideia para iluminar o mundo com o apoio dos colaboradores.
        </mat-card-content>
      </mat-card>

      <!--/CardBotao-->

      <!-- Filtro Post -->
      <div class="container mb-5 mt-5" id="postagens">
        <nav>
          <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <a class="nav-item nav-link active text-color font-weight-bold" id="nav-todasPostagens-tab"
              data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
              aria-selected="true">
              Todas as postagens
            </a>

            <a (click)='findByIdUser()' class="nav-item nav-link text-color font-weight-bold"
              id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
              aria-controls="nav-minhasPostagens" aria-selected="false">
              Minhas Postagens
            </a>

            <a class="nav-item nav-link text-color font-weight-bold" id="nav-porTema-tab" data-toggle="tab"
              href="#porTema" role="tab" aria-controls="nav-porTema" aria-selected="false">
              Postagens por tema
            </a>
          </div>
        </nav>

        <!--- \\\\\\\Posts-->
        <div class="tab-content mt-5" id="nav-tabContent">

          <!--- \\\\\\\ todos os Post-->
          <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="row backbordinha">
              <div class="col-md-6">
              <div class="form-group d-flex descer">
                <input  [(ngModel)]='tituloPost' type="text" placeholder="Digite um titulo para pesquisar" id="titulo"
                  name="titulo" class="form-control searchTerm" (keyup)='findByTituloPostagem()'>
                  <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                 </button>
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group select descer">

              <select class="form-control cordif" name="tipo" id="tipo" (change)='tipoTag($event)'>
                  <option>Tags de tipo de ajuda</option>
                  <option value="Servico">Serviço</option>
                  <option value="Financeiro">Financeiro</option>
              </select>
          </div>
        </div>
        </div>
         <!-- <div class="form-group">
            <label for="Tema">Tema</label>
            <select class="form-control" id="nomeTema" name="nomeTema" (change)='tipoTema($event)'>
              <option *ngFor='let item of listaTemas' value="{{item.categoriaTema}}">
                {{item.categoriaTema}}
              </option>
            </select>
          </div>-->

            <div class="card gedf-card mb-4" *ngFor='let item of listaPostagens | orderBy: key: reverse'>

              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                      <img class="rounded-circle" width="45" height="45" src="{{item.usuario.imagemUsuario}}" alt="">
                    </div>
                    <div class="ml-2">
                      <div class="h5 m-0">{{item.usuario.nomeUsuario}}</div>
                      <div class="text-muted h7Post">
                        <i class="fa fa-clock-o"></i> {{item.dataPostagem | date: 'dd/MM/yyyy'}} às {{item.dataPostagem
                        |
                        date: 'HH:mm'}} |
                        <i class="fa fa-tag"></i> {{item.tema.categoriaTema}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <img height="350px" width="100%" src="{{item.urlImagemPostagem}}" alt="">

              <div class="card-body">
                <h2 class="card-title">{{item.tituloPostagem}}</h2>
                <p class="card-text">
                  {{item.descricaoPostagem}}
                </p>
                <div class="badge badge-danger mr-1" style="font-size: 10pt; font-weight: normal">
                  <i class="fa fa-handshake-o" style="color: white; font-size: 10pt;"></i>
                  {{item.tipoAjudaPostagem}}
                </div>
              </div>

              <div class="card-footer d-flex bd-highlight align-items-center">


                <!-- ///////////////comentarios -->
                <div class="accordion" [attr.id]="'coment' + item.idPostagem">


                  <div class="mt-3 " id="headingTwo">
                    <div class="ml-auto bd-highlight mexer">
                      <a href="https://web.whatsapp.com/send?phone=55+{{item.usuario.telefoneUsuario}}&text=Olá,%20vi%20sua%20ideia%20na%20FindYourHelp%20e%20achei%20ela%20incrível!%20Gostaria%20de%20colaborar%20com%20você%20:D"
                        target="_blank">
                        <button type="button" class="btn btn-warning ">Colaborar <img style="height: 20px; width: 20px;"
                            src="https://i.imgur.com/ChmtyPt.png" alt=""> </button></a>
                    </div>
                    <h5 class="mb-0">
                   
                      <button class="btn btn-link collapsed text-dark umpoucolatbm" type="button" data-toggle="collapse"
                        [attr.data-target]="'#' + 'comentButton' + item.idPostagem" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <p class="text-primary font-weight-bold mb-2">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar
                        </p>
                      </button>
                    </h5>

                  </div>


                  <div [attr.id]="'comentButton' + item.idPostagem" class="collapse" aria-labelledby="headingTwo"
                  [attr.data-parent]="'#' + 'coment' + item.idPostagem" data-parent="#accordion" id="collapseTwo">

                  <div class="row mb-3">
                    <div class="col d-flex justify-content-center align-items-center p-4">
                      <img class="rounded-circle mr-3" src={{imagemUsuario}} width="30px" height="30px" />
                      <div class="input-group w-100">
                        <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário"
                          aria-label="Recipient's username" aria-describedby="button-addon2"
                          [(ngModel)]='comentario.comentario' id='inputComentario'>
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" (click)='comentar(item.idPostagem)'
                            id="button-addon2">Comentar</button>
                        </div>
                      </div>
                    </div>


                  </div>


                  <div class="row d-flex justify-content-center"
                    *ngFor='let coment of item.comentario | orderBy : key : reverse'>
                    <div class="col-md-11 w-100">
                      <div class="card mb-3 shadow border-0 rounded">
                        <div class="card-body grande">
                          <div class="row ">
                            <div class="col d-flex justify-content-start ">

                              <p> <img class=rounded-circle src={{coment.usuario.imagemUsuario}} width="30px"
                                  height="30px" />
                                {{coment.usuario.nomeUsuario}} comentou: </p>
                                <div class="d-flex justify-content-end maisprala">

                                  <mat-icon aria-hidden="false" aria-label="Example delete" (click)='apagarComentario(coment.idComentario)' class="text-danger">delete</mat-icon>

                                </div>
                            </div>

                             <!-- Adicionando o apagar comentario-->


                           <!-- Fim apagar comentario-->

                            </div>
                            <div class="row">
                              <div class="col">
                                <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}} </p>
                              </div>
                            </div>

                            <hr class="pequeno">

                            <div class="d-flex justify-content-end">
                              <small id="texto" class="form-text m-0 mr-5 text-muted text-monospace">
                                Comentado em {{ coment.dataComentario | date:'dd/MM/yyyy'}} às {{coment.dataComentario |
                                date:'HH:mm'}}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
</div>

                  </div>

                </div>


                <!-- comentarios///////// -->



              </div>
            </div>
          </div>
          <!-- Post /////-->

          <!--- \\\\\\\ meus Post-->
          <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="card gedf-card mb-4" *ngFor='let userPost of user.postagem | orderBy: key: reverse'>

              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                      <img class="rounded-circle" width="45" height="45" src="{{imagemUsuario}}" alt="">
                    </div>
                    <div class="ml-2">
                      <div class="h5 m-0">{{nomeUsuario}}</div>
                      <div class="text-muted h7Post">
                        <i class="fa fa-clock-o"></i> {{userPost.dataPostagem | date: 'dd/MM/yyyy'}} às
                        {{userPost.dataPostagem | date: 'HH:mm'}} |
                        <i class="fa fa-tag"></i> {{userPost.tema.categoriaTema}}
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="dropdown">
                      <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                        <div class="h6 dropdown-header">Configurações</div>
                        <a class="dropdown-item" [routerLink]="['/postagem-edit',userPost.idPostagem]">Editar</a>
                        <a class="dropdown-item" [routerLink]="['/postagem-delete',userPost.idPostagem]">Deletar</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <img height="450px" width="100%" src="{{userPost.urlImagemPostagem}}" alt="">

              <div class="card-body">
                <h2 class="card-title">{{userPost.tituloPostagem}}</h2>
                <p class="card-text">
                  {{userPost.descricaoPostagem}}
                </p>
                <div class="badge badge-danger mr-1" style="font-size: 10pt; font-weight: normal">
                  <i class="fa fa-handshake-o" style="color: white; font-size: 10pt;"></i>
                  {{userPost.tipoAjudaPostagem}}
                </div>
              </div>

              <div class="card-footer d-flex bd-highlight align-items-center">

                

                <!-- ///////////////comentarios -->

                <div class="accordion" [attr.id]="'coment' + userPost.idPostagem">

                  <div class="mt-2" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                        [attr.data-target]="'#' + 'comentButton' + userPost.idPostagem" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <p class="text-primary font-weight-bold mb-2">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar
                        </p>
                      </button>
                    </h5>
                  </div>

                  <div [attr.id]="'comentButton' + userPost.idPostagem" class="collapse" aria-labelledby="headingTwo"
                    [attr.data-parent]="'#' + 'coment' + userPost.idPostagem">

                    <div class="row mb-3">
                      <div class="col d-flex justify-content-center align-items-center p-4">
                        <img class="rounded-circle mr-3" src={{imagemUsuario}} width="30px" height="30px" />
                        <div class="input-group w-100">
                          <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário"
                            aria-label="Recipient's username" aria-describedby="button-addon2"
                            [(ngModel)]='comentario.comentario' id='inputComentario'>
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)='comentar(userPost.idPostagem)'
                              id="button-addon2">Comentar</button>
                          </div>
                        </div>
                      </div>


                    </div>


                    <div class="row d-flex justify-content-center"
                      *ngFor='let coment of userPost.comentario | orderBy : key : reverse'>
                      <div class="col-md-11">
                        <div class="card mb-3 shadow border-0 rounded">
                          <div class="card-body">
                            <div class="row">
                              <div class="col d-flex justify-content-start">
                                <p> <img class=rounded-circle src={{coment.usuario.imagemUsuario}} width="30px"
                                    height="30px" />
                                  {{coment.usuario.nomeUsuario}} comentou: </p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}} </p>
                              </div>
                            </div>

                            <hr>

                            <div class="d-flex justify-content-end">
                              <small id="texto" class="form-text m-0 text-muted text-monospace">
                                Comentado em {{ coment.dataComentario | date:'dd/MM/yyyy'}} às {{coment.dataComentario |
                                date:'HH:mm'}}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- comentarios///////// -->


              </div>

            </div>
          </div>
          <!-- Post /////-->

          <!--- \\\\\\\ tema Post -->

          <div class="tab-pane fade" id="porTema" role="tabpanel" aria-labelledby="nav-porTema-tab">

            <div class="row">
              <div class="form-group">
                <input [(ngModel)]='nomeTema' type="text" placeholder="Digite um tema para pesquisar" id="nomeTema"
                  name="nomeTema" class="form-control" (keyup)='findByNomeTema()'>
              </div>
            </div>

            <div *ngFor='let tema of listaTemas'>

              <div class="card gedf-card mb-4" *ngFor='let item of tema.postagem | orderBy: key: reverse'>

                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="mr-2">
                        <img class="rounded-circle" width="45" height="45" src="{{item.usuario.imagemUsuario}}" alt="">
                      </div>
                      <div class="ml-2">
                        <div class="h5 m-0">{{item.usuario.nomeUsuario}}</div>
                        <div class="text-muted h7Post">
                          <i class="fa fa-clock-o"></i> {{item.dataPostagem | date: 'dd/MM/yyyy'}} às
                          {{item.dataPostagem
                          | date: 'HH:mm'}} |
                          <i class="fa fa-tag"></i> {{tema.categoriaTema}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <img height="450px" width="100%" src="{{item.urlImagemPostagem}}" alt="">

                <div class="card-body">
                  <h2 class="card-title">{{item.tituloPostagem}}</h2>
                  <p class="card-text">
                    {{item.descricaoPostagem}}
                  </p>
                  <div class="badge badge-danger mr-1" style="font-size: 10pt; font-weight: normal">
                    <i class="fa fa-handshake-o" style="color: white; font-size: 10pt;"></i>
                    {{item.tipoAjudaPostagem}}
                  </div>
                </div>

                <div class="card-footer d-flex bd-highlight align-items-center">
                  


                <!-- ///////////////comentarios -->

                <div class="accordion" [attr.id]="'coment' + item.idPostagem">

                  <div class="mt-2" id="headingTwo">
                    <div class="ml-auto bd-highlight mexer">
                      <a href="https://web.whatsapp.com/send?phone=55+{{item.usuario.telefoneUsuario}}&text=Olá,%20vi%20sua%20ideia%20na%20FindYourHelp%20e%20achei%20ela%20incrível!%20Gostaria%20de%20colaborar%20com%20você%20:D"
                        target="_blank">
                        <button type="button" class="btn btn-warning">Colaborar <img style="height: 20px; width: 20px;"
                            src="https://i.imgur.com/ChmtyPt.png" alt=""> </button></a>
                    </div>
  
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                        [attr.data-target]="'#' + 'comentButton' + item.idPostagem" aria-expanded="false"
                        aria-controls="collapseTwo">
                        <p class="text-primary font-weight-bold mb-2">
                          <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar
                        </p>
                      </button>
                    </h5>
                  </div>

                  <div [attr.id]="'comentButton' + item.idPostagem" class="collapse" aria-labelledby="headingTwo"
                    [attr.data-parent]="'#' + 'coment' + item.idPostagem">

                    <div class="row mb-3">
                      <div class="col d-flex justify-content-center align-items-center p-4">
                        <img class="rounded-circle mr-3" src={{imagemUsuario}} width="30px" height="30px" />
                        <div class="input-group w-100">
                          <input type="text" class="form-control mr-2" placeholder="Digite aqui seu comentário"
                            aria-label="Recipient's username" aria-describedby="button-addon2"
                            [(ngModel)]='comentario.comentario' id='inputComentario'>
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)='comentar(item.idPostagem)'
                              id="button-addon2">Comentar</button>
                          </div>
                        </div>
                      </div>


                    </div>


                    <div class="row d-flex justify-content-center"
                      *ngFor='let coment of item.comentario | orderBy : key : reverse'>
                      <div class="col-md-11">
                        <div class="card mb-3 shadow border-0 rounded">
                          <div class="card-body grande">
                            <div class="row">
                              <div class="col d-flex justify-content-start">
                                <p> <img class=rounded-circle src={{coment.usuario.imagemUsuario}} width="30px"
                                    height="30px" />
                                  {{coment.usuario.nomeUsuario}} comentou: </p>
                                   <div class="d-flex justify-content-end maisprala">

                                  <mat-icon aria-hidden="false" aria-label="Example delete" (click)='apagarComentario(coment.idComentario)' class="text-danger">delete</mat-icon>

                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <p class="card-text ml-4" aria-describedby="texto">{{coment.comentario}} </p>
                              </div>
                            </div>

                            <hr class="pequeno">

                            <div class="d-flex justify-content-end">
                              <small id="texto2" class="form-text m-0 text-muted text-monospace">
                                Comentado em {{ coment.dataComentario | date:'dd/MM/yyyy'}} às {{coment.dataComentario |
                                date:'HH:mm'}}
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- comentarios///////// -->


                  
                </div>
              </div>
            </div>
          </div>
          <!--  Post /////-->

        </div>
      </div>
      <!-- Posts /////-->
    </div>
    <!-- /////cards a direita -->
    <div class="col-md-3 mt-5">
      <div class="mr-5" style="position: fixed; ">
        <h2>Notícias FindYourHelp</h2>
        <hr>
        <div class="card gedf-card">
          <div class="card-body">
            <h5 class="card-title">Generation Brasil</h5>
            <h6 class="card-subtitle mb-2 text-muted">Centenas de novos Dev's no mercado </h6>
            <p class="card-text">Até hoje, mais de 38 mil jovens se formaram nos programas da Generation ao redor do mundo, em 148 cidades e 13 países.</p>
            <a href="https://brazil.generation.org/" class="card-link">Site Generation</a>
            <a href="#" class="card-link">Site PI-FindYourHelp</a>
          </div>
        </div>
        <div class="card gedf-card">
          <div class="card-body">
            <h5 class="card-title">Find Your Help!</h5>
            <h6 class="card-subtitle mb-2 text-muted">Melhor Projeto do Brasil</h6>
            <p class="card-text">A Find your Help é uma ação que visa garantir que todas as pessoas possam se beneficiar das vantagens que o site traz</p>
            <a href="https://brazil.generation.org/"  class="card-link">Site Generation</a>
            <a href="#" class="card-link">Site PI-FindYourHelp</a>
          </div>
        </div>
      </div>
    </div>
    <!-- cards a direita///// -->
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close mb-3" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
        </button>
      </div>
      <div class="modal-body">

        <mat-horizontal-stepper #stepper>
          <mat-step >
             <form >
               <div class="d-flex text-center ">

                <p class="mb-5 mr-3"><mat-icon aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>Como fazer uma postagem <strong>campeã</strong></p>
                <div class="text-danger mt-3 ideia">
                  <p class="juntinho"> Necessário informar qual tipo de serviço você deseja para sua ideia</p>
                  <p class="juntinho"> Necessário informar qual valor você deseja para a realização da ideia</p>
                  <img class="img-fluid " width="23" alt="Logo da Find Your Help" src="https://i.imgur.com/dtR8Hgp.png"><span class="ml-2 mt-1 text-primary">Dica: Find your help</span>
                </div>


               </div>
                <div>
                  <button type="button" class=" prala btn btn-secondary mt-2" mat-button matStepperNext>Next</button>
                </div>
             </form>
          </mat-step>
          <mat-step>
            <div class="formlado mt-4">
              <div class="form-group">
                <label for="Tema">Tema</label>
                <select class="form-control" id="Tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                  <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                    {{item.categoriaTema}}
                  </option>
                </select>
              </div>

              <div class="form-group ml-3">
                <label for="tipoAjudaPostagem">Tipo de Ajuda</label>
                <select class="form-control" id="tipoAjudaPostagem" (change)='tipoDeAjuda($event)' name="tipoAjudaPostagem">
                  <option style="opacity: 0.5;">Selecione uma opção</option>
                  <option value="Financeiro">Financeiro</option>
                  <option value="Servico">Serviço</option>

                </select>
              </div>

            </div>
            <p>
              Por acaso voce quer fazer um novo tema? <a data-dismiss="modal" routerLink="/tema">Cadastre</a>
            </p>

            <form>
              <div class="form-group">
                <label for="tituloPostagem">Titulo:</label>
                <input [(ngModel)]='postagem.tituloPostagem' type="text" class="form-control" id="tituloPostagem"
                  placeholder="Insira o título da postagem" name="tituloPostagem">
              </div>
              <div class="form-group">
                <label for="urlImagemPostagem">Imagem:</label>
                <input [(ngModel)]='postagem.urlImagemPostagem' type="text" class="form-control" id="urlImagemPostagem"
                  placeholder="Insira a imagem da postagem" name="urlImagemPostagem">
              </div>

              <div class="form-group">
                <label for="descricaoPostagem">Descrição:</label>
                <textarea [(ngModel)]='postagem.descricaoPostagem' class="form-control" id="descricaoPostagem" rows="3"
                  name="descricaoPostagem" placeholder="Insira o texto da postagem"></textarea>
              </div>
     </form>
     <div>
      <button type="button" class=" btn btn-secondary mt-2" mat-button matStepperPrevious>Back</button>

   </div>
          </mat-step>

       </mat-horizontal-stepper>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)='publicar()'>Publicar</button>
        </div>

      </div>

    </div>

  </div>
</div>
