<div class="bg">
  <div class="container-fluid mt-5">


    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-dark" style="font-weight: 800;">Apagar Postagem</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center text-dark" style="font-weight: 800;">Você tem certeza que deseja apagar essa postagem?
        </h4>
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
      <div class="col-md-4 d-flex align-items-center">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title m-0" style="font-size: 14pt; font-weight: bold;">
              {{postagem.tituloPostagem}}</h3>
            <small class="text-white text-center">Tema: <br> {{postagem.tema.categoriaTema}}</small>
            <p class="card-text mt-3 text-center" style="font-size: 12pt; font-weight: bold;">
              {{postagem.descricaoPostagem}}</p>
            <p class="card-text text-center" style="font-size: 10pt; font-weight: bold;"><small class="text-white">

                {{postagem.dataPostagem | date: 'dd/MM/yyyy'}} às {{postagem.dataPostagem | date: 'HH:mm'}}
              </small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-danger mr-4" routerLink='/userpage'>Não</button>
        <button class="btn btn-success" (click)='apagar()'>Sim</button>
      </div>
    </div>

  </div>

</div>
