
<div class="bg">
  <div class="container-fluid d-flex justify-content-end  mt-5">
    <div class="row">

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="card card-style">
          <div class="card-body">
            <h1 class="card-title text-center text-body">Deletar Postagem</h1>

            <h4 class="text-center text-dark" style="font-weight: 800;">Você tem certeza que deseja apagar essa
              postagem?
            </h4>

            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">


                <div class="card " style="width: 18rem;">
                  <img class="card-img-top img-fluid" src="{{postagem.urlImagemPostagem}}" alt="Imagem da postagem">
                  <div class="card-body text-center">
                    <h3 class="card-title m-0" style="font-size: 14pt; font-weight: bold;">
                    {{postagem.tituloPostagem}}</h3>

                    <small class="text-body text-center"> Tema: {{postagem.tema.categoriaTema}}</small>
                    <p class="card-text mt-3 text-center" style="font-size: 12pt;">
                      {{postagem.descricaoPostagem}}</p>

                    <p class="card-text text-center" style="font-size: 10pt; font-weight: bold;"><small
                        class="text-body">
                        {{postagem.dataPostagem | date: 'dd/MM/yyyy'}} às {{postagem.dataPostagem | date: 'HH:mm'}}
                      </small></p>
                  </div>
                </div>

              </div>
            </div>

            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-danger mr-4" routerLink='/userpage'>
                Cancelar
              </button>

              <button class="btn btn-success" (click)='apagar()'>
                Deletar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




