.bg {
  background-image: url("https://i.imgur.com/W7W6zVd.png");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

 .card {

  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 400px;
  height: 250px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0.1),
    rgba(71, 73, 76, 0.3)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(117, 104, 104, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}


.btn{
  width: 100px;
}

