<!-- BANNER -->
<div class="container-fluid d-flex align-items-center ban">

  <img class="imagens" src="https://i.imgur.com/Wx02hn1.gif" alt="nuvens">
  <img class="imagens" src="https://i.imgur.com/vsfjXXa.png" alt="cidade menor">
  <img class="imagens" src="https://i.imgur.com/M6vJ15E.png" alt="cidade sem predios">
  <div class="sombra"></div>


  <div style="z-index: 2;" class="justify-content-center align-items-center container-fluid d-flex">

    <div class="container-fluid d-flex align-items-center justify-content-center" style="z-index: 3;">
      <div class="card glass">
        <div class="card-body text-secondary">
          <i class="fa fa-arrow-left fa-2x blackiconcolor" aria-hidden="true" routerLink='/homepage'></i>
          <h1 class="card-title text-center titulo">Entrar</h1>
          <form>
            <div class="form-group">
              <label for="email"></label>
              <input [(ngModel)]='userLogin.emailUsuario' name='emailUsuario' type="email"
                class="form-control formulario" id="email" placeholder="E-mail">
            </div>
            <div class="form-group">
              <label for="senha"></label>
              <input [(ngModel)]='userLogin.senhaUsuario' name='senhaUsuario' type="password"
                class="form-control placeholder" id="senha" placeholder="Senha">
            </div>

            <div class="d-flex justify-content-center">
              <button type="button" class="btn glass mt-4"
                style="z-index: 1;position: relative; background-color: #F4AF1B; color: white; width: 30%;"
                (click)='entrar()'>Entrar</button>
            </div>
          </form>


          <hr class="mt-4 mb-3">
          <p class="text-center align-items-center" style="font-weight: bold; font-size: 15px; color: rgb(17, 16, 16);">
            Ainda não tem uma conta? <a routerLink='/cadastrar' style="color: #daa126;">Cadastre-se</a>
          </p>

        </div>
      </div>
    </div>

  </div>
