.bg{
  background-image: url("https://i.imgur.com/LGxG7cG.png");
  /* min-height: 695px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.titulo {
  color: #212525;
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.placeholder{
  color: #3d4a4c;
}


.card{
box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
border-radius: 20px;
width: 400px;
height: 400px;

}

.card-body{
overflow: hidden;
position: relative;
width: 100%;
height: 300%;
}

.form-control{
width: 100%;
background: transparent;
border: 0px solid rgb(149, 150, 151);
margin: 6px 0;
height: 32px;
border-radius: 7px;
padding: 0 10px;
box-sizing: border-box;
outline: none;
backdrop-filter: blur(10px);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}


button{
  width: 45%;
  border: 1px solid rgb(37, 52, 63);
  margin: 35px 0 10px;
  height: 32px;
  font-size: 18px;
  border-radius: 7px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: rgb(46, 50, 53);
  cursor: pointer;
}


::placeholder{
color: rgb(56, 51, 51);
font-size: 14px;
}

.btn{
align-items: center;
margin-left: 3px;
}


.btn:hover{
  color: white;
  transform: scale(0.95);
}

.glass {
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0.1),
    rgba(71, 73, 76, 0.3)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(117, 104, 104, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

