.fs-14 {
  font-size: 14pt;
}
header .gris {
 /*  background: linear-gradient(to bottom, #000, transparent); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);;
  transition: background-color 1s ease 0s;
}
.header_change .gris{
  background: #fff;
}

header .letra{
  color: #fff;
  transition: color 1s ease 0s;
}

.header_change .letra{
  color: rgb(116, 76, 76);
 }

header .letra .cor{
  color: #fff;
  transition: color 1s ease 0s;
}

.header_change .letra .cor{
  color: rgb(0, 0, 0);
 
 
}