<div class= "bg">

<nav class="navbar navbar-expand-lg navbar-light gris scrolling-navbar fixed-top ">

  <nav class="navbar">
      <img src="https://i.imgur.com/tF84Tak.png" class="img-fluid rounded-circle" width="60" alt="Logo da Escape">
      <a class="navbar-brand ml-2" style="color: white;" href="#"> Find Your Help</a>
  </nav>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado" >
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item active pl-3">

      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0" style="color: white;">Home</p>
        </a>
      </li>
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0"style="color: white;">Entrar</p>
        </a>
      </li>
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0"style="color: white;">Cadastrar</p>
        </a>
      </li>
    </ul>

  </div>
</nav>
