<nav class="navbar navbar-expand-lg navbar-light bg-color">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar navbar-light bg-color">
      <img src="https://i.imgur.com/tF84Tak.png" class="img-fluid rounded-circle" width="60" alt="Logo da Escape">
      <a class="navbar-brand ml-2" href="#"> Find Your Help</a>

  </nav>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item active pl-3">

          <li class="nav-item pl-3">
            <a href="">
              <p class="text-color fs-16 m-0">Home</p>
            </a>
          </li>
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0">Feed</p>
        </a>
      </li>
      <li class="nav-item pl-3">
        <a href="">
          <p class="text-color fs-16 m-0">Login</p>
        </a>
      </li>
      <li class="nav-item pl-3">

        <a href="">
          <p class="text-color fs-16 m-0">Cadastrar</p>
        </a>

      </li>
      <li class="nav-item pl-3">
          <img src="https://i.imgur.com/goFwNXn.png" alt="Imagem do usuário" width="50px" height="30px"
          class="img-fluid rounded-circle">
      </li>
    </ul>

  </div>
</nav>
