.bg {
  background-image: url("https://i.imgur.com/W7W6zVd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}


.card {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 400px;
  height: 200px;

  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0.1),
    rgba(71, 73, 76, 0.3)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(117, 104, 104, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.card-body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300%;
}

.form-control {
  width: 400px;
  background: transparent;
  border: 1px solid black;
  height: 32px;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}


.form-group {
  display: flex;
  justify-content: center;

}

/* input[type="text"]{
  background: linear-gradient(
    175deg,
    rgba(139, 108, 108, 0.1),
    rgba(109, 147, 204, 0.3)
  );
}
 */
