#img-bg {

  background-image: url(https://i.imgur.com/SC52DR9.jpg);
  min-height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;

}
