<mat-horizontal-stepper>
  <div class="container">

  <mat-step label="Step 1" state="phone">
      <label id="opcao"><h1 class="display-4">Qual sua renda familiar?</h1></label>
      <br>
      <mat-radio-group class="py-4" aria-label="Select an option">
          <mat-radio-button class="mr-5" value="1">ate 2.034 R$ </mat-radio-button>
          <mat-radio-button value="2">maior que 2.034 R$</mat-radio-button>
        </mat-radio-group>
    <div class="py-4">
      <button mat-flat-button color="primary" matStepperNext >Next</button>

    </div>
  </mat-step>

  <mat-step label="Step 2" state="chat">
    <div class="container">
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Find your Help</mat-label>
            <input matInput disabled value="Cadastre-se">
          </mat-form-field>
          <p>
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>public</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Imagem</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>add_photo_alternate</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>

            <p>
              <mat-form-field appearance="outline">
                  <mat-label>Tipo de Usuario</mat-label>
                  <mat-icon matSuffix>safety_divider</mat-icon>
                  <mat-select>
                    <mat-option value="one">Colaborador</mat-option>
                    <mat-option value="two">Empreendedor</mat-option>
                  </mat-select>
                </mat-form-field>
            </p>
      </form>
    </div>
    <div class="btn-toolbar centro" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button mat-flat-button matStepperPrevious class="btn btn-secondary"  >Back</button>
      </div>

      <div class="btn-group" role="group" aria-label="Second group">
          <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Step 3">
    <p>Texto pra iludir </p>
    <div>
    <mat-checkbox class="example-margin">Aceito termo de compromisso</mat-checkbox>
  </div>
    <div class="btn-toolbar centro" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button mat-flat-button matStepperPrevious class="btn btn-secondary"  >Back</button>
      </div>

      <div class="btn-group" role="group" aria-label="Second group">
          <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </div>

  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</div>
</mat-horizontal-stepper>
