
<div class="bg">
  <div class="container-fluid  d-flex justify-content-center mt-5">
    <div class="card">
      <div class="card-body text-secondary">
        <h1 class="card-title text-center text-dark">Atualizar Postagem</h1>

        <div class="row d-flex justify-content-center d-flex align-items-center">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <label for="Tema">Tema</label>
                <select class="form-control text-input" id="Tema" name="Tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                  <option *ngFor='let item of listaTemas' value="{{item.idTema}}"> {{item.categoriaTema}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="tipoAjudaPostagem">Tipo de Ajuda</label>
                <select class="form-control text-input" id="tipoAjudaPostagem" (change)='tipoDeAjuda($event)'
                  name="tipoAjudaPostagem">
                  <option>Selecione um tipo de ajuda</option>
                  <option value="Financeiro">Financeiro</option>
                  <option value="Servico">Serviço</option>

                </select>
              </div>


              <div class="form-group">
                <label for="tituloPostagem">Titulo</label>
                <input [(ngModel)]='postagem.tituloPostagem' type="text" class="form-control text-input"
                  id="tituloPostagem" placeholder="titulo da Postagem" name="tituloPostagem">
              </div>
              <div class="form-group">
                <label for="urlImagemPostagem">Imagem</label>
                <input [(ngModel)]='postagem.urlImagemPostagem' type="text" class="form-control text-input"
                  id="urlImagemPostagem" placeholder="Imagem da Postagem" name="urlImagemPostagem">
              </div>

              <div class="form-group mb-3">
                <label for="descricaoPostagem">Descrição</label>
                <textarea [(ngModel)]='postagem.descricaoPostagem' class="form-control text-input"
                  id="descricaoPostagem" rows="3" name="descricaoPostagem"></textarea>
              </div>

            </form>
          </div>
        </div>
      </div>


        <div class="d-flex justify-content-center mt-3 mb-5">
          <button class="btn btn-danger mr-4" routerLink='/userpage'>
            Cancelar
          </button>

          <button class="btn btn-success" (click)='atualizar()'>
            Atualizar
          </button>
        </div>


    </div>
  </div>
</div>
