.bg{
    background-image: url(https://i.imgur.com/Iju7I6Z.png);
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
   
  }

  .bg-2{
    background-color: aliceblue;
    background-size: cover;
  }


  .text-color{

    color:white;
  }

 .form-control{
  width: 400px;
  background: transparent;
  border: 1px solid black;
  height: 32px;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;


}
::placeholder{

  color: black;
  font-size: 15px;
}

.card{
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  width: 400px;
  height: 200px;

}

.card-body{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300%;
}

.form-group{

  display: flex;
  justify-content: center;

}
