.bg-color{
    background-color:#FFF460;
  }
  
  .text-color{
  
    color:#9900a6;
  }
  
  .btn{
    color:#9900a6;
    background-color: transparent;
    border-color: #9900a6;
  }
  
  .btn:hover{
    background-color: #9900a6;
    color: white;
  }