/*construi um style para navegar entre o style do angular material e mudar alguns atributos*/
/*Atributos de cores*/

@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-green);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,  
  )
));

@include angular-material-theme($candy-app-theme);