.fs-14 {
  font-size: 14pt;
}
.gris{
  background: linear-gradient(to bottom, #000, transparent);
}

/*------------ Banner-------------- */

#banner{
  margin-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.sombra{
  background: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: 1;
}
.ban{
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}
.ban:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, aliceblue, transparent);
  z-index: 3;
}
.ban .parallax-window{
  position:absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transform-style: preserve-3d;
}
.ban .luz{
  position:absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  pointer-events: none;
  transform-style: preserve-3d;
}
.ban .efehov{
  position: absolute;
  top: 42%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 270px;
  height: 360px;
}

.image{
  opacity: 0;
  display: block;
  backface-visibility: hidden;
  z-index: 2;
}
.middle{
  opacity: 0;
  z-index: 2;
}
.magic:hover .middle{
  opacity: 1;

}
#text{
  justify-content: left;
  align-items: flex-start;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  z-index: 1;
}
#text2{
  justify-content: left;
  align-items: flex-start;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 3.3em;
  z-index: 1;
}
#text3{
  justify-content: left;
  align-items: flex-start;
  position: relative;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.3em;
  z-index: 1;
}
/*------------/Banner-------------- */


  /*---------- Sobre Find your Help------------ */
  p, h1 {
    font-family: 'Roboto', sans-serif;

  }

  .text-color{
    color:#F4AF1B;
  }

  div .quadrado{
    width: 60px;
    height: 3px;
    background-color: #F4AF1B;
  }

  .bg{
    background-color: aliceblue;
  }

  /*---------- /Sobre Find your Help------------ */

 /*-----------------Cards---------------*/
 .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.profile{
  position: relative;
  width: 200px;
  height: 250px;
  /* background: url("../../assets/imagem/osvaldo_T16.jpeg"); */
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}

.overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}
.profile:hover .overlay{
  opacity: 1;
}

.sociais-icons{
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  right: 4px;
}

.sociais-icons li{
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;

}
.sociais-icons li:hover{
  background: #fff;
  color: #000;
}

.overlay .about{
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column;
}
 /* -----------/Cards---------------- */

/* .altura{
  height: 250px;
} */
