<app-menu></app-menu>

<body>
  <div class="bg">

    <!-- Banner -->

    <div id="banner">
      <div class="container-fluid d-flex align-items-center ban">

        <img class="imagens" src="https://i.imgur.com/Wx02hn1.gif" alt="nuvens">
        <img class="imagens" appParallax [ratio]="0.15" src="https://i.imgur.com/vsfjXXa.png" alt="cidade menor">
        <img class="imagens" appParallax [ratio]="-0.20" src="https://i.imgur.com/M6vJ15E.png" alt="cidade sem predios">
        <div class="sombra"></div>


        <div class="magic">
          <img class="imagens lampada" appParallax [ratio]="-1.7" src="https://i.imgur.com/wFjNnUm.png" alt="lampada">
          <img class="efehov image" src="https://i.imgur.com/xJUNFj6.png" alt="botão falso">
          <img class="imagens" src="https://i.imgur.com/dXNtIZK.png" alt="luz1">

          <div class="middle">
            <img class="luz" src="https://i.imgur.com/2T0c8TS.png" alt="luz2">
          </div>
        </div>


        <div class="container-md " style="z-index: 2;">
          <div class="row d-flex align-items-center">
            <div class=" col-md-1 mr-3">
              <h2 id="text2">find <div class="ml-1 mt-1">your</div>
                <div class="ml-3 mt-3">help</div>
              </h2>
            </div>
            <div class=" col-md-4 d-flex align-items-center justify-content-md-start">
              <img class="mb-3 ml-3 mr-3 pequeno" style="z-index: 1; position: relative; width: 3px;height: 120px;"
                src="https://i.imgur.com/zHvl9OW.png" alt="">
              <div class="pequeno">
                <h3 id="text3" class="text-left ">Apoie uma ideia <div class="mt-2 mb-2">para iluminar</div>
                  <div class="">o mundo</div>
                </h3>
              </div>
            </div>

            <div class="col-md-7"></div>
          </div>

          <div class="row">
            <div class=" col-md-4">


              <div id="carouselExampleControls"
                style="position: relative; z-index: 2; background-color: rgba(0, 0, 0, 0.1)" class="carousel slide"
                data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p id="text">“Ideias e somente ideias podem iluminar a escuridão” - Ludwig von Mises
                    </p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"Um gênio se faz com 1% de inspiração e 99% de esforço." - Thomas
                      Edison</p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"O importante não é o que se dá, mas o amor com que se dá." - Madre
                      Teresa</p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"Temos de nos tornar na mudança que queremos ver." - Mahatma Gandhi</p>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" style="opacity: 0;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true" style="opacity: 0;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <a routerLink='/cadastrar'>
                <button type="button" class="btn"
                  style="z-index: 1;position: relative; background-color: #F4AF1B; color: white;">Cadastre-se</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim Banner -->

    <!-- Sobre Find Your Help-->
    <div class="container mb-5  " id="sobreNos">

      <div class="row d-flex align-items-center">
        <div class="col-md-6">

          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <div class="quadrado mb-2"></div>

              <h2 class="m-0">Sobre a Find Your help</h2>
              <h1 class="text-left text-color">Bem vinde a Find Your Help! </h1>
              <p class="text-justify">A Find Your Help iniciou-se com o propósito de fomentar empregos, gerar
                inovação e possibilitar uma chance de mudança de vida, através da conexão entre investidores
                e empreendedores. Esta conexão acontece através de investimentos, que podem ser financeiros,
                ou serviços em geral, ou até mesmo feedbacks. Desta forma, a Find Your Help proporciona um
                modelo diversificado de negócios a partir da colaboração entre investidores e
                empreendedores.
              </p>

              <h1 class="text-left">Nossa Visão </h1>
              <p class="text-justify">Criar oportunidades econômicas para cada integrante, disponibilizando
                ferramentas necessárias para a conexão entre empreendedores e investidores.</p>

              <h1 class="text-left">Nossa Missão </h1>
              <p class="text-justify"> A Find Your Help está comprometida em proporcionar um meio seguro e de
                confiança que ajuda pessoas a implementar suas ideias, para assim concretizarem todo o seu
                potencial.</p>
            </div>
          </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">

          <img src="https://i.imgur.com/xzpUlwV.png" class="img-fluid" width="500px" height="500px">

        </div>
      </div>

    </div>
    <!-------fim sobre Find your help------>

    <!------- sobre tecnologias------>

    <div class="container mb-4">

      <div class=" row d-flex justify-content-center mt-5 mb-3">
        <div class="quadrado"></div>
        <h1 class=" display-4 text-color text-center mt-2">Tecnologias Utilizadas</h1>
      </div>

      <div class=" row d-flex justify-content-center">
        <div class="col-md-2">
          <h2 class="d-flex justify-content-center">Banco de dados</h2>
          <div class="d-flex justify-content-center">
            <img style="width: 80px; height: 80px; margin-top: 10px;" src="https://i.imgur.com/Us0gtpc.png" alt="">
          </div>
        </div>
        <div class="col-md-2">
          <h2 class="d-flex justify-content-center">Back-end</h2>
          <div class="d-flex justify-content-center">
            <img style="width: 80px; height: 80px; margin-top: 10px;" src="https://i.imgur.com/hiFCgqy.png" alt="">
          </div>
          <div class="d-flex justify-content-center">
            <img style="width: 80px; height: 80px; margin-top: 10px;" src="https://i.imgur.com/PvrOuO7.png" alt="">
          </div>
          <h3 class="d-flex justify-content-center">Spring Rest</h3>
        </div>
        <div class="col-md-2 ">
          <h2 class="d-flex justify-content-center">Front-end</h2>
          <div class="d-flex justify-content-center">
            <img style="width: 150px; height: 80px; margin-top: 10px;" src="https://i.imgur.com/8ztVz6y.png" alt="">
          </div>
          <div class="d-flex justify-content-center">
            <img style="width: 80px; height: 80px; margin-top: 10px;" src="https://i.imgur.com/bpSecLH.png" alt="">
          </div>
          <h3 class="d-flex justify-content-center">Angular</h3>
        </div>
        <div class="col-md-5">
          <h2 class="d-flex justify-content-center" >Apoio</h2>
          <div class="d-flex justify-content-center">
            <img style="width: 60px; height: 60px;" class="mx-3 mt-2" src="https://i.imgur.com/qlOCEjt.png" alt="">
            <img style="width: 80px; height: 80px;" class="mx-3" src="https://i.imgur.com/b3ClCzv.png" alt="">
            <img style="width: 60px; height: 60px;" class="mx-3 mt-2" src="https://i.imgur.com/0Ka76UO.png" alt="">
          </div>
          <div class="d-flex justify-content-center">
            <h3 class="d-flex justify-content-center mr-4">GitHub</h3>
            <h3 class="d-flex justify-content-center mx-4">Sweger</h3>
            <h3 class="d-flex justify-content-center ml-4">SCRUM</h3>
          </div>
          <div class="d-flex justify-content-center">
            <img style="width: 60px; height: 60px;" class="mx-3 mt-1" src="https://i.imgur.com/3h1DWWv.png" alt="">
            <img style="width: 60px; height: 60px;" class="mx-4 mt-1" src="https://i.imgur.com/x5JaXdV.png" alt="">
            <img style="width: 60px; height: 60px;" class="mx-3 mt-1" src="https://i.imgur.com/Ru2epkj.png" alt="">
          </div>
          <div class="d-flex justify-content-center ml-5">
            <h3 class="d-flex justify-content-center  mr-3">Git</h3>
            <h3 class="d-flex justify-content-center ml-5">Postman</h3>
            <h3 class="d-flex justify-content-center ml-4">Stack Overflow</h3>
          </div>
        </div>
      </div>

    </div>


    <!-------fim sobre tecnologias------>

    <!-- -------------Depoimento------------ -->

    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="mask flex-center">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 celesquerda">
                  <img class="lapracima" src="https://i.imgur.com/akMXJyx.png" style="width: 50px; height: 40px;">

                  <h4 class="bannerProf">Thiago Lima</h4>
                  <p class="textCom">"Eu acompanhei essa equipe em toda construção do front-end, foi incrível observar o
                    quanto proativos eles foram, ao pesquisar e aprender além do que foi ensinado em sala! Isso torna o
                    projeto muito único e diferenciado. Foi uma honra fazer parte desse processo!"</p>

                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEgYRMUkFG4gw/profile-displayphoto-shrink_800_800/0/1615098203034?e=1622678400&v=beta&t=3ySO07spn7rixY2RZJW8TuDD8VFYwDnLlEJpFxUA6fw
                        " class="rounded-circle imgTam mt-3" alt="slide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 celesquerda">
                  <img class="lapracima" src="https://i.imgur.com/akMXJyx.png" style="width: 50px; height: 40px;">

                  <h4 class="bannerProf">Rafael Marangoni</h4>
                  <p class="textCom">O projeto está muito bom e eu sabia desde o começo que iria dar bom!</p>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                  <img class="rounded-circle imgTam mt-3" src="https://media-exp1.licdn.com/dms/image/C4D03AQEPdEHr5qioaQ/profile-displayphoto-shrink_800_800/0/1566506864640?e=1622678400&v=beta&t=u6F8Q8JPE9DvieeGbnks-rcocpDFK4U4epikmbf80xA
    " alt="Prof Rafao">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 celesquerda">
                  <img class="lapracima" src="https://i.imgur.com/akMXJyx.png" style="width: 50px; height: 40px;">

                  <h4 class="bannerProf">Ednilson Nascimento</h4>
                  <p class="textCom">Esse squad da turma 16 está ótimo, pessoal muito entrosado e como sempre disse, só
                    se
                    aprende a programar, programando!</p>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                  <img class="rounded-circle imgTam mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQEBu1LTkvkkzA/profile-displayphoto-shrink_800_800/0/1588897171006?e=1622678400&v=beta&t=BHnY4-THu4eKqEnmJz2nM8KvLT7N3ABfkABcjSSrpcY"
                    alt="Prof ED">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 celesquerda">
                  <img class="lapracima" src="https://i.imgur.com/akMXJyx.png" style="width: 50px; height: 40px;">

                  <h4 class="bannerProf">Marcelo Barboza</h4>
                  <p class="textCom">Acima de tudo, queria enaltecer este trabalho
                    que foi construido com apenas 3 meses de aprendizado
                    as palavras que me definem neste momento é ORGULHO por
                    ver os frutos de tanta dedicação, ALEGRIA por ter conhecido
                    estas pessas incriveis e Saudade por saber que nosso contato
                    não será tão frequente quanto neste ultimo mês.</p>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                  <img class="rounded-circle imgTam mt-3" src="https://media-exp1.licdn.com/dms/image/C4D03AQF-vzQ5kKgIBg/profile-displayphoto-shrink_800_800/0/1575853801365?e=1622678400&v=beta&t=jtc3R2rM6MuygV_B3iCAakUec7UPzRTTc90QKGH_QtE
                " alt="Prof Marcelo">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="mask flex-center">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 order-md-1 order-2 celesquerda">
                  <img class="lapracima" src="https://i.imgur.com/akMXJyx.png" style="width: 50px; height: 40px;">

                  <h4 class="bannerProf">Lucas Capeloto</h4>
                  <p class="textCom">Projeto bem estruturado, cada dia que passa vemos que o pessoal aproveitou bem o
                    bootcamp!</p>
                </div>
                <div class="col-md-5 col-12 order-md-2 order-1">
                  <img class="rounded-circle imgTam mt-3"
                    src="https://media-exp1.licdn.com/dms/image/C4D03AQHj3NvKHuFl2w/profile-displayphoto-shrink_800_800/0/1615404063583?e=1622678400&v=beta&t=i7VNj4Pg_GTaLDxnkEXXECyx8Gtu4zKPw9dWFpvst28"
                    alt="Prof Lucao">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>


    <!-- Implementando Cards -->
    <div class="container sobreNos mt-5" id="sobreEquipe">
      <div class="container">

        <div class=" row d-flex justify-content-center">
          <div class="quadrado"></div>
          <h1 class=" display-4 text-color text-center mt-2">Conheça nossa equipe!</h1>
        </div>
        <div class="row">

          <div class="col-md-3">
            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/ZrSHT4U.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Andressa</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-instagram"></i></a> </li>
                    <li><a href="https://www.linkedin.com/in/andressaffs/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/Andressaffs"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/iOYTmzZ.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Athos</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/athosgiom"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/athos.mesquita/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/athosmesquita/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/athosgpm"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/lmENsfX.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Carolina</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/carolina.guida.18"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/guidacar0l/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/carolina-guida/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/Carolguida"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/mlPjf1A.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Gustavo</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/gustavo.guilhen.3"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fa fa-instagram"></i></a> </li>
                    <li><a href="https://www.linkedin.com/in/gustavo-guilhen/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/GUSTAVO-GUILHEN"><i class="fa fa-github"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-md-4">

            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/COhg17X.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Osvaldo</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/osvaldoo.velasco"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/vdsensei/"><i class="fa fa-instagram"></i></a> </li>
                    <li><a href="https://www.linkedin.com/in/osvaldo-velasco/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Velasco18"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4">

            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/aMg7loq.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Maria</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/profile.php?id=100004876058274"><i
                          class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/nazaresemth/"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/maria-nazare/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/MariaNazar"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <div class="wrapper">
              <div class="profile" style="background-image: url(https://i.imgur.com/BEiXZIw.jpg);">
                <div class="overlay">
                  <div class="about d-flex flex-colum">
                    <h4>Tatiane</h4>
                  </div>

                  <div class="about d-flex flex-colum">
                    <span>Full Stack Jr</span>
                  </div>

                  <ul class="sociais-icons">
                    <li><a href="https://www.facebook.com/tatiane.t.ant"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/tatianetissoni/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/tati-antunes/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://github.com/tatiantunes"><i class="fa fa-github"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- Fim do Card -->
    </div>

    <!-- Nossos parceiros -->
    <div class="container-fluid">

      <div class=" row d-flex justify-content-center mt-5">
        <div class="quadrado"></div>
        <h1 class=" display-4 text-color text-center mt-2">Nossos Parceiros</h1>
      </div>

      <div class=" row d-flex justify-content-center">
        <img src="https://i.imgur.com/jBIJl3y.png" class="img-fluid img-size mb-5"
          alt="Imagem da logo da Generation Brasil">
      </div>

    </div>

    <app-rodape></app-rodape>
  </div>
  <!-- Fim do Nossos parceiros -->