<div class= "bg">

    <nav class="navbar navbar-expand-lg navbar-light gris scrolling-navbar fixed-top ">
    
      <nav class="navbar">
          <img src="https://i.imgur.com/tF84Tak.png" class="img-fluid rounded-circle" width="60" alt="Logo da Escape">
          <a class="navbar-brand ml-2" style="color: white;" href="#"> Find Your Help</a>
      </nav>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado" >
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item active pl-3">
    
          <li class="nav-item pl-3">
            <a routerLink='/homepage'>
              <p class="text-color fs-16 m-0" style="color: white;">Home</p>
            </a>
          </li>
          <li class="nav-item pl-3">
            <a routerLink='/login'>
              <p class="text-color fs-16 m-0"style="color: white;">Entrar</p>
            </a>
          </li>
          <li class="nav-item pl-3">
            <a routerLink='/cadastrar'>
              <p class="text-color fs-16 m-0"style="color: white;">Cadastrar</p>
            </a>
          </li>
        </ul>
    
      </div>
    </nav>
    
    
    <div id="banner">
      <section class="secao wrapper d-flex align-items-center">
    
        <div class="magic">
          <img class="efehov image" src="https://i.imgur.com/xJUNFj6.png" alt="">
          <img class="luz" src="https://i.imgur.com/dXNtIZK.png" alt="">
          <div class="middle">
            <img class="luz" src="https://i.imgur.com/2T0c8TS.png" alt="luz2">
          </div>
        </div>
    
        <div class="parallax-window lamp" data-z-index="2" data-parallax="scroll" data-speed="-0.5" data-image-src="https://i.imgur.com/wFjNnUm.png"></div>
        <div class="sombra"></div>
        <div class="parallax-window road" data-z-index="1" data-parallax="scroll" data-speed="0.8" data-image-src="https://i.imgur.com/iixumQ7.png"></div>
        <div class="parallax-window mountain" data-z-index="1" data-parallax="scroll" data-speed="1" data-image-src="https://i.imgur.com/crnLmNk.png"></div>
        <div class="parallax-window bg" data-z-index="1" data-parallax="scroll" data-speed="0.2" data-image-src="https://i.imgur.com/hAbM0so.gif"></div>
        
        <div class="container-md" style="z-index: 2;">
          <div class="row d-flex align-items-center">
            <div class=" col-md-1">
              <h2 id="text2">find <div class="ml-1" >your</div> <div class="ml-3 mt-2" >help</div></h2>
            </div>
            <div class=" col-md-4 d-flex align-items-center justify-content-md-start">  
              <img class="mb-3 ml-3 mr-3" style="z-index: 1; position: relative; width: 3px;height: 120px;" src="https://i.imgur.com/zHvl9OW.png" alt="">
            
              <h3 id="text3" class="text-left">Apoie uma ideia <div class="mt-2 mb-2">para iluminar</div> <div class="">o mundo</div> </h3>
            </div>
    
            <div class="col-md-7"></div>
          </div>
    
          <div class="row">
            <div class=" col-md-4">
              
    
              <div id="carouselExampleControls" style="position: relative; " class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p id="text">“Ideias e somente ideias podem iluminar a escuridão” - Ludwig von Mises</p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"Um gênio se faz com 1% de inspiração e 99% de esforço." - Thomas Edison</p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"O importante não é o que se dá, mas o amor com que se dá." - Madre Teresa</p>
                  </div>
                  <div class="carousel-item">
                    <p id="text">"Temos de nos tornar na mudança que queremos ver." - Mahatma Gandhi</p>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true" style="opacity: 0;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true" style="opacity: 0;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
    
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
            <a routerLink='/cadastrar'>
              <button type="button" class="btn" style="z-index: 1;position: relative; background-color: #F4AF1B; color: white;">Cadastre-se</button>
            </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    
    <!-- Sobre Find Your Help-->
    <div class="container">
    
      <div class="row d-flex align-items-center" >
        <div class="col-md-6">
    
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <div class="quadrado mb-2"></div>
    
              <h2 class="m-0">Sobre a Find Your help</h2>
              <h1 class="text-left text-color">Bem vinde a Find Your Help! </h1>
              <p class="text-justify">A Find Your Help iniciou-se com o propósito de fomentar empregos, gerar inovação e possibilitar uma chance de mudança de vida, através da conexão entre investidores e empreendedores. Esta conexão acontece através de investimentos, que podem ser financeiros, ou serviços em geral, ou até mesmo feedbacks. Desta forma, a Find Your Help proporciona um modelo diversificado de negócios a partir da colaboração entre investidores e empreendedores.
              </p>
    
              <h1 class="text-left">Nossa Visão </h1>
              <p class="text-justify">Criar oportunidades econômicas para cada integrante,  disponibilizando ferramentas necessárias para a conexão entre empreendedores e investidores.</p>
    
              <h1 class="text-left">Nossa Missão </h1>
              <p class="text-justify"> A Find Your Help está comprometida em proporcionar um meio seguro e de confiança que ajuda pessoas a implementar suas ideias, para assim concretizarem todo o seu potencial.</p>
            </div>
          </div>
    
        </div>
    
        <div class="col-md-6 d-flex justify-content-center">
    
          <img src="https://i.imgur.com/xzpUlwV.png" class="img-fluid" width="500px" height="500px">
    
        </div>
      </div>
    
    </div>
    
    
    </div>